{
  "presets": ["next/babel", "@babel/preset-typescript"],
  "plugins": [
    [
      "@stylexjs/babel-plugin",
      {
        "runtimeInjection": false,
        "styleResolution": "property-specificity",
        "unstable_moduleResolution": {
          "type": "commonJS",
          "rootDir": "."
        }
      }
    ]
  ]
}
