@layer tkb {
  :root {
    --_grid: 0.25rem;
    --color_transparent: transparent;
  }
  :root,
  :root [style],
  :root .tk-h935j9 {
    --color_accent: var(--accent);
    --color_accent-foreground: var(--accent-foreground);
    --color_background: var(--background);
    --color_border: var(--border);
    --color_destructive: var(--destructive);
    --color_foreground: var(--foreground);
    --color_primary: var(--primary);
    --color_primary-foreground: var(--primary-foreground);
    --color_ring: var(--ring);
    --color_secondary: var(--secondary);
    --color_secondary-foreground: var(--secondary-foreground);
    --radii_md: calc(var(--radius) - 2px);
  }
  * {
    --display: initial;
    --align-items: initial;
    --justify-content: initial;
    --gap: initial;
    --gap__calc: initial;
    --flex-shrink: initial;
    --border-radius: initial;
    --disabled: initial;
    --_1xliblv: initial;
    --outline-style: initial;
    --transition-property: initial;
    --transition-duration: initial;
    --disabled_pointer-events: initial;
    --_pt0kr9: initial;
    --disabled_opacity: initial;
    --_1i726bs: initial;
    --box-shadow: initial;
    --focus-visible_box-shadow: initial;
    --focus-visible: initial;
    --_rmydme: initial;
    --background-color: initial;
    --hover_background-color: initial;
    --hover: initial;
    --_1gqxh9p: initial;
    --_ez0gpl: initial;
    --border-width: initial;
    --border-width__calc: initial;
    --border-style: initial;
    --border-color: initial;
    --text-underline-offset: initial;
    --hover_text-decoration-line: initial;
    --_aect7g: initial;
    --height: initial;
    --height__calc: initial;
    --padding-inline: initial;
    --padding-inline__calc: initial;
    --width: initial;
    --width__calc: initial;
  }
  [style]:disabled,
  .tk-h935j9:disabled {
    --disabled: ;
  }
  [style]:focus-visible,
  .tk-h935j9:focus-visible {
    --focus-visible: ;
  }
  [style]:hover {
    --hover: ;
  }
}
@layer tk1 {
  .tk-h935j9,
  [style] {
    display: var(--display, revert-layer);
    gap: var(--_tv0n1y, var(--gap, revert-layer));
    --_tv0n1y: var(--gap__calc) calc(var(--gap) * var(--_grid));
    white-space: var(--white-space, revert-layer);
    border-radius: var(--border-radius, revert-layer);
    cursor: var(--cursor, revert-layer);
  }
  [style] {
    box-shadow: var(--box-shadow, revert-layer);
    color: var(--color, revert-layer);
    text-underline-offset: var(--text-underline-offset, revert-layer);
    height: var(--_1awdfto, var(--height, revert-layer));
    --_1awdfto: var(--height__calc) calc(var(--height) * var(--_grid));
    width: var(--_1pi6ijh, var(--width, revert-layer));
    --_1pi6ijh: var(--width__calc) calc(var(--width) * var(--_grid));
  }
}
@layer tk2 {
  .tk-h935j9,
  [style] {
    align-items: var(--align-items, revert-layer);
    justify-content: var(--justify-content, revert-layer);
    flex-shrink: var(--flex-shrink, revert-layer);
    font-size: var(--font-size, revert-layer);
    font-weight: var(--font-weight, revert-layer);
    outline-style: var(--outline-style, revert-layer);
    transition-property: var(--transition-property, revert-layer);
    transition-duration: var(--transition-duration, revert-layer);
  }
  [style] {
    background-color: var(--background-color, revert-layer);
    border-width: var(--_8hajk4, var(--border-width, revert-layer));
    --_8hajk4: var(--border-width__calc)
      calc(var(--border-width) * var(--_grid));
    border-style: var(--border-style, revert-layer);
    border-color: var(--border-color, revert-layer);
  }
}
@layer tkl2 {
  [style] {
    padding-inline: var(--_twrjq1, var(--padding-inline, revert-layer));
    --_twrjq1: var(--padding-inline__calc)
      calc(var(--padding-inline) * var(--_grid));
  }
}
@layer tks1 {
  .tk-h935j9,
  [style] {
    cursor: var(--_1xliblv, revert-layer);
    --_1xliblv: var(--disabled) var(--disabled_cursor);
    pointer-events: var(--_pt0kr9, revert-layer);
    --_pt0kr9: var(--disabled) var(--disabled_pointer-events);
    opacity: var(--_1i726bs, revert-layer);
    --_1i726bs: var(--disabled) var(--disabled_opacity);
    box-shadow: var(--_rmydme, revert-layer);
    --_rmydme: var(--focus-visible) var(--focus-visible_box-shadow);
  }
  [style] {
    color: var(--_ez0gpl, revert-layer);
    --_ez0gpl: var(--hover) var(--hover_color);
  }
}
@layer tks2 {
  [style] {
    background-color: var(--_1gqxh9p, revert-layer);
    --_1gqxh9p: var(--hover) var(--hover_background-color);
    text-decoration-line: var(--_aect7g, revert-layer);
    --_aect7g: var(--hover) var(--hover_text-decoration-line);
  }
}
@layer tkc {
  .tk-h935j9 {
    --display: inline-flex;
    --align-items: center;
    --justify-content: center;
    --gap: 2;
    --gap__calc: ;
    --flex-shrink: 0;
    --white-space: nowrap;
    --border-radius: var(--radii_md);
    --font-size: 0.875rem;
    --font-weight: 500;
    --font-weight__calc: ;
    --cursor: pointer;
    --outline-style: none;
    --transition-property: var(
      ---,
      color,
      background-color,
      box-shadow,
      border-color
    );
    --transition-duration: var(---, 0.15s);
    --disabled_pointer-events: none;
    --disabled_opacity: 0.5;
    --disabled_opacity__calc: ;
    --disabled_cursor: not-allowed;
    --focus-visible_box-shadow: var(
      ---,
      0 0 0 3px color-mix(in oklab, var(--color_ring) 50%, transparent)
    );
  }
}
